body
{
    background-color: #eaebef;
}
.header
{
    background-color: #3b599a;
    height: 3em;
    display: flex;
    padding-bottom: 10px;
    padding-top: 8px;
}
.nav
{
    display:flex;
    
    padding-left: 144px;
}
.image i
{
    background-color:#3b599a;
    color:white;
    padding-top:13px;
    margin-left:0em;
    margin-top: 4px;
}
.sec1
{
    height: 1.2em;
    margin-left: 2em;
    padding: 2px 7px;
    margin-top: 15px;
    display: flex;
    width: 18em;
    background-color:white;
}
.t1{
    width:50%;
}
.t1 h5{
    /* padding-left:100px; */
    
    margin-top: 3px;
    
    color:#3b599a;
}
.srch i 
{
    padding-left:151px;
    font-size:0.8em;
}
.nav2
{
    display: flex;
    background-color:#3b599a;
    padding-left:20px;
    margin-left: 312px;
    margin-top:6px;
}
.image2 img{
    height:2em;
    width:3em;
    background-color: #3b599a;
    border-radius: 50%;
    padding-top: 3px;
}
.txt1 h4{
    color:white;
    height: 1em;
    margin-top: 11px;
    margin-left: 3px;
}
.txt1{
    display:flex;
    padding-left: 10px;
}
.l1{
    padding-top: 0.7em;
}
.l1 a 
{
    text-decoration: none;
    color:white;
    margin-top: 1.7em;
    margin-left: 1em;
}
.icon
{
    padding-top: 12px;
    padding-left:10px;
    margin-right:12px;
}
.ic1 i 
{
    padding-left:3px;
}
.ic2
{
    padding-left: 6px;
}
.ic2 i 
{
    padding-left:3px;
}
.ic3
{
    padding-left: 6px;
}
.ic3 i 
{
    padding-left:3px;
}
.ic4 i 
{
    padding-left:40px;
}
.ic5 i 
{
    padding-left:3px;
}
.p2
{
    padding-top:3px;
    display: flex;
}
.part1
{
    /* background-color: #eaebef; */
    background-color:#eaebef;
    display: flex;
    height:60%;
    width:30%;
}
.left1
{
    padding-left:50%;
    padding-bottom: 63px;
}
.image3 img
{
    height:7em;
    width:10em;
    margin-top:20px;
}
.he1
{
    color:#494b4d;
    height:0em;
}
.he2
{
    color:#494b4d;
}
.menu
{
    background-color: #eaebef;
}
.m1 
{
    color:#494b4d;
}
.m1:hover
{
    background-color: aqua;
}
.m2 
{
    color:#494b4d;
}
.m2:hover
{
    background-color: aqua;
}
.m3 
{
    color:#494b4d;
}
.m3:hover
{
    background-color: aqua;
}
.m4 
{
    color:#494b4d;
}
.m4:hover
{
    background-color: aqua;
}
.m5 
{
    color:#494b4d;
}
.m5:hover
{
    background-color: aqua;
}
.btn
{
    color: rgb(237, 238, 237);
    
}
.bt
{
    color:white;
    background-color:rgb(14, 161, 38);
}
.mphoto img
{
    height: 15em;
    width: 47em;
}
.box1
{
    padding-left: 9px;
    display: flex;
    width: 70%;
}
.log1
{
    padding-right: 10px;
    color:white;
}
.b1
{
    display: flex;
    padding-top: 11px;
}
.mid
{
    background-color: white;
    /* display: flex; */
    width:47em;
    height: 19em;
    margin-left: 2px;
    margin-left: 20px;
}
.mid1
{
    display: flex;
}
.mid2
{
    display: flex;
}
.mid3
{
    display: flex;
}

.thumb i 
{
    padding-top:5px;
    color:blue
}
.v1
{
    padding-top:5px;
    padding-left:3px;
    color:#3b599a;
}
.ar1 i 
{
    padding-left:3px;
    padding-top:5px;
}
.wifi i 
{
    color:blue;
    padding-top:5px;
}
.v2
{
    padding-top:5px;
    padding-left:3px;
    color:#3b599a;
}
.ar2 i 
{
    padding-left:3px;
    padding-top:5px;
}
.share i 
{
    padding-top: 5px;
    color:blue;
}
.v3
{
    padding-top:5px;
    padding-left:3px;
    color:#3b599a;
}
.ar3 i 
{
    padding-left:3px;
    padding-top:5px;
}
.sign1
{
    padding-top: 12px;
    padding-left: 79px;
}
.log
{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:12px;
    width:18em;
    background-color: #3b599a;
}
.center
{
    background-color: white;;
    display:flex;
    margin-top:30px;
    margin-bottom: 0em;
    margin-right:39%;
    

}
.pho 
{
    /* background-color: #494b4d; */
}
.pho img
{
    height: 3em;
    padding-left: 14px;
}
.vw
{
    padding-left:10px;
    display:block;
    width: 50%;
}
.vw h4
{
    color:#3b599a;
    height:0em;
    margin-top: 2px;
    width: 12em;

}
.e 
{
padding-left:0px;
}
.e i
{
    height:2em;
    width:2em;
}
.arrw
{
   
    height: 1em;
    width: 129px;
}
.arrw i 
{
    padding-left: 107px;
}

#kirtesh
{
    background-color: white;
    margin-top: 0em;
    height: 6em;
    width: 21.4em;
}
.kir 
{
    padding-left: 13px;
}
.limage
{
    width:100%;
    background-color: white;
    margin-top:0em;
    height: 39%;
}
.limage img{
    width: 100%;
    margin-top: 0em;
}
.last_block
{
    margin-top: 7px;
    margin-left: 11px;
}
.cen 
{
    width:54%;
    display: flex;
    /* background-color: white; */

}
.cen1
{
    background-color: white;
    margin-top: 28px;
    /* height:5em; */
}
.slog
{
    background-color: white;
    padding-top:0px;
}
.slog h4{
    padding-top: 1em;
    padding-bottom:1em;
    padding-left: 18px;
}
.la1 h3{
    background-color: white;
    color:blue;
    padding-left:15px;
}
.last_b1
{
    /* display:flex; */
    background-color: white;
}
.lass1
{
    width:100%;
    display:flex;
}
.see{
    background-color: white;
    height:2.5em;

}
.see h3
{
    padding-left: 185px;
    padding-right: 11px;
    width: 3em;
    color: blue;
    
}
.ll1 i
{
    padding-left:10px;
}
.ll1 a 
{
    text-decoration: none;
    color:blue;
    padding-left:1em;
}
.t1 
{
    padding-left:0em;
}

.ll_2 i
{
    padding-left:10px;
    padding-top:10px;
}
.t2 
{
    padding-left:1em;
}
.ll_3 i
{
    padding-left:10px;
    padding-top:10px;
}
.t3 
{
    padding-left:1em;
}
.ll_4 i
{
    padding-left:10px;
    padding-top:10px;
}
.t4 
{
    padding-left:1em;
}

